<header>Learn about Lifting! Or foods. <br>
Rules: Player 1 begins. If you make a match, gain another turn. If not, pass the turn. </header>
<button type="button" id="startGame">Start Game</button>

<!-- selector for board size...doesnt work yet.
<select class="chooseBoardSize">
  <option value="default" selected disabled>Please select an option...</option>
  <option value="4">4x4</option>
  <option value="6">6x6</option>
</select> -->
<div id="dropdown">
<select class="chooseAnArray">
<option value="default" selected disabled>Please select an option...</option>
<option value="lifts">Lifts</option>
<option value="foods">Foods</option>
</select>

</div>



<div class="gameboard">

</div>
